.kanban-board {
  display: flex;
  overflow-x: auto;
  /* Ativa o scroll horizontal se necessário */
  overflow-y: auto;
  /* Ativa o scroll vertical se necessário */
  width: 100vw;
  /* Define a largura do quadro como 100% da largura da tela */
  height: 89.5vh;
  /* Define a altura do quadro como 100% da altura da janela do navegador */
}



.kanban-column {
  flex-shrink: 0;
  /* Impede que as colunas encolham */
  flex-basis: auto;
  /* Define a largura base das colunas como automática */
}


.coluna {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(160, 87, 255);
  width: 350px;
  min-width: 350px;
  height: 800px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 35px;
}

.nome-coluna {
  margin: 0;
  padding: 10px;
  background: rgb(201 159 255);
  border-top-left-radius: 10px;
}

#draggable {
  background-color: aliceblue;
  color: black;
  width: 300px;
  height: 200px;
  margin: 20px 0px 0px 20px;
  padding: 20px;
  border-radius: 20px;
}

.card {
  background-color: aliceblue;
  color: black;
  width: 300px;
  height: 200px;
  margin: 20px 0px 0px 20px;
  padding: 20px;
  border-radius: 20px;
  background-clip: padding-box;
}

.card-vazio {
  background-color: rgba(240, 248, 255, 0);
  width: 300px;
  height: 800px;
}

.template {
  padding: 5px;
}

.drop-indicator-botton {
  width: 270px;
  height: 4px;
  position: absolute;
  background-color: rgb(0, 255, 136);
  opacity: 1;
  margin-bottom: 5px;
  margin-left: 35px;
}


.drop-indicator-top {
  width: 270px;
  height: 4px;
  position: absolute;
  background-color: rgb(0, 255, 136);
  opacity: 1;
  margin-bottom: 5px;
  margin-left: 35px;
  margin-top: 16px;
}


.coluna::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.coluna::-webkit-scrollbar-track {
  background: rgb(201 159 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;    /* color of the tracking area */
      /* color of the tracking area */
}

.coluna::-webkit-scrollbar-thumb {
  background-color: rgb(46, 46, 46);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(201 159 255);;  /* creates padding around scroll thumb */
}